body{font-family:sans-serif;
    background-color:#D1D9D9;}
h1{
    font-family: monospace;
    background-color: #EEC4C4;
    padding: 20px;
}
p{text-align: justify}
p{line-height: 140%;}
p{text-decoration-color:#F29191;}